body,
.marker-cluster,
.marker-cluster div {
    font-family: 'Noto Sans Display', sans-serif !important;
}

.icon-station {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    border: 4px solid #102A83;
    color: white;
}

.icon-vehicle {
    font-family: 'Noto Sans Display', sans-serif;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #FFEC00;
    color: #102A83;
    display: flex !important;
    justify-content: center;
    align-items: center;
    transition-duration: 300ms;
    /* add shadow */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.tooltip-vehicle {
    font-family: 'Noto Sans Display', sans-serif;
    background-color: #E5D200;
    color: #102A83;
    position: absolute;
    font-size: .7rem;
    padding: 0 .1rem 0 .1rem;
    border-radius: 5px;
    bottom: -1rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;

}

.icon-inactive {
    font-family: 'Noto Sans Display', sans-serif;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #2C2C2C;
    color: #D7D7D7;
    display: flex !important;
    justify-content: center;
    align-items: center;
    transition-duration: 300ms;
}

.tooltip-inactive {
    font-family: 'Noto Sans Display', sans-serif;
    background-color: #2C2C2C;
    color: #C0C0C0;
    position: absolute;
    font-size: .7rem;
    padding: 0 .1rem 0 .1rem;
    border-radius: 5px;
    bottom: -1rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

p.icon {
    font-family: 'Noto Sans Display', sans-serif;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.font-special {
    font-family: 'Noto Sans Display', sans-serif;
}

.leaflet-popup-content-wrapper,
.leaflet-popup.tip {
    font-family: 'Noto Sans Display', sans-serif;
    background-color: rgba(255, 255, 255, 0.75) !important;
}

.leaflet-popup-tip-container {
    color: rgba(255, 255, 255, 0.75) !important;
}

.search {
    z-index: 2000;
    position: absolute;
    top: .75rem;
    left: .75rem;
    width: calc(100% - 4rem);
}

.bottom-stripe {
    width: auto;
    left: .75rem;
    right: .75rem;
    height: 3.5rem;
    position: absolute;
    bottom: 0;
    z-index: 2000;
    border-radius: 1rem 1rem 0 0;
    padding-left: .5rem;
    padding-right: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
    color: white;
    overflow: hidden;
}

.bus {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
    object-position: bottom; /* Center the image within the element */
    height:13rem;
}

.bus-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin:0;
    padding:0;
}

.desktop-hidden {
    display: none;

}

@media only screen and (max-width: 600px){
    .data-extend {
        padding-top: 0.75rem !important;
        margin-top: 0.75rem;
    }
    .bus {
        height:10rem !important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .bus-image {
        height:10rem !important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .desktop-hidden {
        display: block;
    }
}

.nav-button {
    width: 45%;
    height: 3rem;
    border-bottom: 4px solid #970D14;
    color: white !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 200ms;
    cursor: pointer;
}

.data-extend {
    position: absolute;
    bottom: 0;
    width: 94vw;
    height: 35%;
    background-color: white;
    z-index: 5000;
    border-radius: 1rem 1rem 0 0;
    padding: .75rem;
    padding-top: 1rem;
    margin-left: 3vw;
    margin-right: 3vw;
    border: 1px solid #CED4DA;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    /* add top shadow */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    transition: all 1s ease-in-out;
    scrollbar-width: none;

}

.vehicle-image {
    position:absolute;
    top: 0;
    left: 0;
    width:23.5rem;
    height: 10rem;
    object-fit: cover; /* Do not scale the image */
    object-position: bottom; /* Center the image within the element */
  }

.station-time {
    width:fit-content;
    text-align: right;
}

.stop-table-row {
    border-bottom: 1px solid lightgrey;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.data-extend::-webkit-scrollbar {
    display: none !important;
    background: transparent;
}

/* Hide scrollbar for IE, Edge and Firefox */
.data-extend {
    -ms-overflow-style: none !important;
    /* IE and Edge */
    scrollbar-width: none !important;
    /* Firefox */
}


.vehicleinfo {
    padding: 0;
    margin: 0;
}

.nav-button t {
    font-size: .75rem;
}

.exit-button {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 25%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
}

.blink {
    animation: blinker 2s linear infinite;
    color: green;
}

.mapdiv {
    height: 100vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
}

.arrival {
    background-color: #f8f4ff;
    border-radius: .2rem;
    padding: .3rem;
    margin: .2rem;
    min-width: 5rem !important;
    cursor: pointer;
    transition-duration: .2s;
    user-select: none;
}

.arrivalar {
    background-color: #f8f4ff;
    border-radius: .2rem;
    margin: .2rem;
    cursor: pointer;
    transition-duration: .2s;
    user-select: none;
    width: fit-content !important;
}

.station-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.station-element:hover {
    background-color: #F0F0F0;
}

.arrival:hover {
    box-shadow: #106bc0 0px 0px 10px;
}

.route-name {
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
}

.route-name i:hover {
    color: #0071ae;
}

.route-arrivals {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-y: auto;
}

.route-schedule {
    /*style.marginRight = '0.5rem';
    routeScheduleDiv.style.float = 'right';
    routeScheduleDiv.style.fontSize = '1.2rem';
    routeScheduleDiv.style.cursor = 'pointer';*/
    float: right;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: .2s;
    padding-left: .2rem;
    padding-right: .2rem;
    user-select: none;
    color: black;
    background-color: #F0F0F0;
    border: none;
}

.route-schedule:hover {
    background-color: #0071ae;
    color: white;
    cursor: pointer;
}

.station-current {
    background-color: #970D14;
    color: white;
    border-radius: 4px;
    transition-duration: .2s;
    padding-left: .2rem;
    padding-right: .2rem;
}

.station-current:hover {
    /* join 0071ae with #F0F0F0 */
    background-color: #0065ae;
    color: white;
    cursor: pointer;
}

.route_name_number {
    font-weight: bold;
    font-size: 1rem;
    background-color: #102A83;
    color: white;
    border-radius: .2rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.sidebar {
    height: 100%;
    max-width: 30rem !important;
    background-color: white;
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: .5rem;
    /* add right shadow */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-right: 1px solid #CED4DA;
}

.icon-pointer {
    width: 12.5px;
    height: 12.5px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform-origin: top left;
  }

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}


/* Hide scrollbar for Chrome, Safari and Opera */
div.data::-webkit-scrollbar {
    display: none !important;
    background: transparent;
}

/* Hide scrollbar for IE, Edge and Firefox */
div.data {
    -ms-overflow-style: none !important;
    /* IE and Edge */
    scrollbar-width: none !important;
    /* Firefox */
}